# Terraform
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/terraform.tfvars
infra/terraform/.terraform/

# Environment variables
.env
.env.local

# Node.js
node_modules/

# macOS
.DS_Store
